
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  line-height: 1.4;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
}
button{
  padding: 10px 15px;
  border: none;
  transition: 0.2s ease-in-out;
  
}
button:hover{
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}
/* -----navigation----- */
nav{
  box-shadow: 5px 5px 5px rgb(214, 214, 214);
  position: sticky;
  top: 0;
  margin-bottom: 32px;
  background: white;
  padding: 0.5px;
  z-index: 50;
  margin-top: 10px;

}
.navigation {
  display: flex;
  justify-content: space-between; /* logo left, icon right */
  align-items: center;
  width: 100%;
  padding: 10px 20px; /* add horizontal spacing */
}


.continer{
  width: 1200px;
  margin: 0 auto;
}
nav .continer {
  max-width: 1200px;
  width: 100%;
  height: 12vh;
  margin: 0 auto;
}


.bar_icon {
  font-size: 32px;
}

/* ----- hero Section----- */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.hero_image img {
  width: 400px;
 
}

.hero_text {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 20px;
}
.tag{
  background-color: green;
  padding: 15px 10px;
  color: white;
  align-self:flex-start ;
}
.hero_text h1{
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
}
.explore_btn{
  background-color: rgb(232, 232, 29);
  align-self: flex-start;
  size: 100px;
}
/* -------Features----- */
.features{
  margin-top: 100px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 50px;
}
.feature{
  display: flex;
  align-items: center;
  gap: 10px;
   flex: 1;                /* equal width for all features */
  padding: 15px;
  text-align: center;
  transition: 0.2s ease-in-out;
}
.feature:hover{
   transition: 0.2s ease-in-out;
   box-shadow: 5px 5px 5px rgb(214, 214, 214); 
}
.divider{
   border: 1px solid gray;
   margin: 20px 0; 
}
/* ------Menu section------ */
.menu{
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px 0;
  align-items: center;

}
.menu .tag{
  align-self: center;
}
.grid {
  display: grid;
  gap: 7px;
  margin-bottom: 10%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}

.item1 { grid-area: I1; }
.item2 { grid-area: I2; }
.item3 { grid-area: I3; }
.item4 { grid-area: I4; }
.item5 { grid-area: I5; }
.item6 { grid-area: I6; }
.item7 { grid-area: I7; }

.grid div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s  ease-in-out;

}
.grid div img:hover {
  transform: scale(1.1) ;
}
.menu h1{
  font-size: 100px;
}
/* ------footer----- */
.footer {
  background-color: #fff0db;
  padding: 30px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.link_lists h3 {
  margin-bottom: 10px;
  color: gray;
}

.link_lists ul {
  list-style: none;
  padding: 0;
}

.link_lists ul li {
  margin-bottom: 8px;
}

.news_letter input {
  width: 200px;
  padding: 8px;
  margin-bottom: 10px;
}

.icon_container {
  display: flex;
  gap: 10px;
}

.icon i {
  font-size: 18px;
  color: #333;
}
html{
  scroll-behavior: smooth;
}
#msg{
  color: #61b752;
  margin-top: -40px;
  display: block;

}


/* --------mobile------- */
@media (max-width: 786px) {
  .hero {
    flex-direction: column;
  }

  .hero_image {
    display: flex;
    justify-content: center;
  }
  .hero_image img {
    width: 80%;
  }
  .hero_text{
    gap: 10px;

    padding: 0 20px;
  }
  .hero_text h1 {
    font-size: 32px;
  }
  .continer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; 
}
.feature{
  flex-direction: column;
}
.features{
  flex-direction: column;
}
.grid{
  padding: 10px ;
}
.grid div img{
 border-radius: 0px;
}
.footer_container{
  flex-direction: column;
}
}